.cabecera {
  background-color: rgba(220, 106, 0, 0.938);
  margin: 0%;
  padding: 0%; }

.logo {
  width: 10rem; }

.principal {
  display: flex; }
  .principal .division {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center; }
    .principal .division .animate__animated.animate__backInLeft {
      animation-duration: 1s; }
    .principal .division .division__uno {
      font-size: 5rem; }
    .principal .division .inscribite {
      font-size: 1.5rem;
      font-family: 'Kanit', sans-serif;
      margin-top: 2rem; }
      .principal .division .inscribite:hover {
        box-shadow: 2px 1px 35px 2px rgba(245, 11, 11, 0.56);
        -webkit-box-shadow: 2px 1px 35px 2px rgba(245, 11, 11, 0.56);
        -moz-box-shadow: 2px 1px 35px 2px rgba(245, 11, 11, 0.56);
        transition: 1s; }

.body_uno {
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0%;
  margin: 0%;
  background-color: black; }

.body3 {
  background-image: url(../assets/imagenes/fondo6.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.division__uno__dos {
  font-size: 1.5rem;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: 'Noto Sans JP', sans-serif; }

.division__dos {
  margin-left: 10rem;
  border: none;
  margin-top: 0.5rem; }

.animate__animated.animate__backInRight {
  animation-duration: 2s; }

.img {
  width: 35rem; }

.box5 {
  background-color: rgba(9, 228, 28, 0.384);
  color: black;
  width: 93rem;
  padding: 5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 1.3rem;
  margin-top: 5rem;
  text-align: center;
  border: 1px solid;
  box-shadow: 0 0 10px grey;
  backdrop-filter: blur 80px; }
  .box5 .nosotros_clase_titulo {
    display: flex;
    justify-content: center;
    color: green; }

.box4 {
  background: linear-gradient(90deg, rgba(255, 0, 116, 0.57) 0%, #fffb00 20%);
  color: black;
  width: 93rem;
  padding: 5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 1.3rem;
  margin-top: 3rem;
  text-align: center;
  border: 1px solid;
  box-shadow: 0 0 10px grey;
  backdrop-filter: blur 80px; }

.imagennosotros {
  background-image: url(../assets/imagenes/fondotrabaja.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .imagennosotros .h1form {
    display: flex;
    text-align: center;
    justify-content: center;
    color: blanchedalmond; }
  .imagennosotros .marginform {
    margin-top: 8rem;
    height: 550px; }
  .imagennosotros .form-control {
    width: 300px; }
  .imagennosotros .btn2 {
    width: 300px;
    height: 60px; }
  .imagennosotros .form-label {
    color: blanchedalmond; }
  .imagennosotros .ajuste {
    margin-left: 120px; }

.cuadro1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.teclas {
  height: 100vh; }

.h1clase {
  text-align: center;
  font-size: 3rem;
  color: blanchedalmond;
  margin-top: 3rem; }

.separacion {
  margin-bottom: 10px; }

.h1dondeestamos {
  color: blanchedalmond; }

.box1 {
  background: linear-gradient(78deg, rgba(78, 236, 12, 0.75) 20%, rgba(167, 255, 0, 0.66) 80%);
  color: black;
  padding: 5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 900;
  border: 1px solid;
  box-shadow: 0 0 10px grey;
  backdrop-filter: blur 80px; }

.tittlebox_tittlebox2 {
  display: flex;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  overflow-wrap: break-word; }

.nav-item {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; }

.footer {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(220, 106, 0, 0.938);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vh; }

.footer_p {
  margin-right: 3rem;
  font-size: 0.7rem; }

.icono_instagram {
  width: 1.5rem;
  margin-right: 1rem;
  animation: iconfloat infinite 4s ease-in-out; }

.icono_whatsapp {
  width: 1.5rem;
  margin-right: 1rem;
  animation: iconfloat infinite 4s ease-in-out;
  animation-delay: 0.5s; }

.icono_facebook {
  width: 1.5rem;
  margin-right: 1rem;
  animation: iconfloat infinite 4s ease-in-out;
  animation-delay: 1s; }

@keyframes iconfloat {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-17px); }
  100% {
    transform: translateY(0); } }

@media screen and (max-width: 634px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    height: 15vh; }
  .footer_p {
    margin-right: 0rem; } }

@media screen and (max-width: 520px) {
  .mediaq {
    display: flex;
    flex-wrap: wrap;
    height: 7vh; } }

@media screen and (max-width: 1023px) {
  .cuadro1 {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 1050px) {
  .principal {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center; }
  .division {
    display: flex;
    justify-content: center;
    align-items: center; }
  .division__uno {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; }
  .division__dos {
    margin-left: 1rem; } }

@media screen and (max-width: 580px) {
  .division__uno {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; }
  .img {
    max-width: 100%;
    height: auto; } }
