.footer {
    font-family: 'Poppins', sans-serif;
    background-color: $color-naranja;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;}

    .footer_p {
        margin-right: 3rem;
        font-size: 0.7rem;

    }

    .iconos_redes .icono_instagram {
        width: 1.5rem;
        margin-right: 1rem;
        animation: iconfloat infinite 4s ease-in-out;
    }

    .icono_whatsapp {
        width: 1.5rem;
        margin-right: 1rem;
        animation: iconfloat infinite 4s ease-in-out;
        animation-delay: 0.5s; }

    .icono_facebook {

    width: 1.5rem;
    margin-right: 1rem;
    animation: iconfloat infinite 4s ease-in-out;
    animation-delay: 1s;}
