.footer {
    font-family: 'Poppins', sans-serif;
    background-color: $color-naranja;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
}



.footer_p {
    margin-right: 3rem;
    font-size: 0.7rem;

}

.icono_instagram {
    @include icono;
    
}

.icono_whatsapp {
    @include icono;
    animation-delay: 0.5s;
}

.icono_facebook {

    @include icono;
    animation-delay: 1s;
}


