@keyframes iconfloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-17px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 634px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        height: 15vh;
    }

    .footer_p {
        margin-right: 0rem;
    }

}

@media screen and (max-width: 520px) {

    .mediaq {
        display: flex;
        flex-wrap: wrap;
        height: 7vh;
    }
}
