@keyframes iconfloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-17px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 634px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        height: 15vh;
    }

    .footer_p {
        margin-right: 0rem;
    }

}

@media screen and (max-width: 520px) {

    .mediaq {
        @include flexwrap;
        height: 7vh;
    }
}

@media screen and (max-width: 1023px) {

    .cuadro1 {
        @include flexwrap;
        
    }
}

@media screen and (max-width: 1050px) {
    .principal {
        @include flexwrap;
        @include centrado;
    }

    .division {
        @include centrado;
    }

    .division__uno {
        @include centrado;
        font-size: 3rem;
        margin-top: 40px;
    }

    .division__dos {
        margin-left: 1rem;

    }
}

@media screen and (max-width: 580px) {
    .division__uno {
        @include centrado;

    }

    .fontsize {

        font-size: 2rem;
        margin-top: 40px;
    }


    .img {

        max-width: 100%;
        height: auto
    }

    .back {

        display: flex;
        align-content: center;

        .margin {

            margin-top: 5rem;
        }


    }
}

@media screen and (max-width: 380px){

    .cuadro1{

        height: auto;
    }
}